<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:x_pos00e9_1.1_dreg</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-02-17T00:27:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>6487C38F-640D-4442-AB2B-FD0C480C4C6D</string>
			<key>PageDigests</key>
			<dict>
				<key>colour_tags-page0.css</key>
				<dict/>
				<key>css/aside/20.css</key>
				<dict/>
				<key>css/aside/22.css</key>
				<dict/>
				<key>css/aside/24.css</key>
				<dict/>
				<key>css/aside/26.css</key>
				<dict/>
				<key>css/aside/28.css</key>
				<dict/>
				<key>css/aside/left.css</key>
				<dict/>
				<key>css/aside/none.css</key>
				<dict/>
				<key>css/aside/right.css</key>
				<dict/>
				<key>css/border/dashed.css</key>
				<dict/>
				<key>css/border/dotted.css</key>
				<dict/>
				<key>css/border/solid.css</key>
				<dict/>
				<key>css/feature_image/blank.css</key>
				<dict/>
				<key>css/feature_image/header1.css</key>
				<dict/>
				<key>css/feature_image/header10.css</key>
				<dict/>
				<key>css/feature_image/header11.css</key>
				<dict/>
				<key>css/feature_image/header12.css</key>
				<dict/>
				<key>css/feature_image/header13.css</key>
				<dict/>
				<key>css/feature_image/header14.css</key>
				<dict/>
				<key>css/feature_image/header15.css</key>
				<dict/>
				<key>css/feature_image/header16.css</key>
				<dict/>
				<key>css/feature_image/header17.css</key>
				<dict/>
				<key>css/feature_image/header18.css</key>
				<dict/>
				<key>css/feature_image/header19.css</key>
				<dict/>
				<key>css/feature_image/header2.css</key>
				<dict/>
				<key>css/feature_image/header20.css</key>
				<dict/>
				<key>css/feature_image/header3.css</key>
				<dict/>
				<key>css/feature_image/header4.css</key>
				<dict/>
				<key>css/feature_image/header5.css</key>
				<dict/>
				<key>css/feature_image/header6.css</key>
				<dict/>
				<key>css/feature_image/header7.css</key>
				<dict/>
				<key>css/feature_image/header8.css</key>
				<dict/>
				<key>css/feature_image/header9.css</key>
				<dict/>
				<key>css/feature_image/no_overlay.css</key>
				<dict/>
				<key>css/feature_image/none.css</key>
				<dict/>
				<key>css/feature_image/opacity100.css</key>
				<dict/>
				<key>css/feature_image/opacity20.css</key>
				<dict/>
				<key>css/feature_image/opacity40.css</key>
				<dict/>
				<key>css/feature_image/opacity60.css</key>
				<dict/>
				<key>css/feature_image/opacity80.css</key>
				<dict/>
				<key>css/font_primary/arial.css</key>
				<dict/>
				<key>css/font_primary/century.css</key>
				<dict/>
				<key>css/font_primary/futura.css</key>
				<dict/>
				<key>css/font_primary/georgia.css</key>
				<dict/>
				<key>css/font_primary/lucida.css</key>
				<dict/>
				<key>css/font_primary/trebuchet.css</key>
				<dict/>
				<key>css/font_secondary/arial.css</key>
				<dict/>
				<key>css/font_secondary/century.css</key>
				<dict/>
				<key>css/font_secondary/futura.css</key>
				<dict/>
				<key>css/font_secondary/georgia.css</key>
				<dict/>
				<key>css/font_secondary/lucida.css</key>
				<dict/>
				<key>css/font_secondary/trebuchet.css</key>
				<dict/>
				<key>css/frames/dark10.css</key>
				<dict/>
				<key>css/frames/dark20.css</key>
				<dict/>
				<key>css/frames/dark30.css</key>
				<dict/>
				<key>css/frames/light10.css</key>
				<dict/>
				<key>css/frames/light20.css</key>
				<dict/>
				<key>css/frames/light30.css</key>
				<dict/>
				<key>css/light/10.css</key>
				<dict/>
				<key>css/light/20.css</key>
				<dict/>
				<key>css/light/30.css</key>
				<dict/>
				<key>css/light/40.css</key>
				<dict/>
				<key>css/light/50.css</key>
				<dict/>
				<key>css/light/60.css</key>
				<dict/>
				<key>css/light/70.css</key>
				<dict/>
				<key>css/light/80.css</key>
				<dict/>
				<key>css/nav/14.css</key>
				<dict/>
				<key>css/nav/15.css</key>
				<dict/>
				<key>css/nav/16.css</key>
				<dict/>
				<key>css/nav/17.css</key>
				<dict/>
				<key>css/nav/18.css</key>
				<dict/>
				<key>css/options/18.css</key>
				<dict/>
				<key>css/text_shadow/dark100.css</key>
				<dict/>
				<key>css/text_shadow/dark25.css</key>
				<dict/>
				<key>css/text_shadow/dark50.css</key>
				<dict/>
				<key>css/text_shadow/dark75.css</key>
				<dict/>
				<key>css/text_shadow/light100.css</key>
				<dict/>
				<key>css/text_shadow/light25.css</key>
				<dict/>
				<key>css/text_shadow/light50.css</key>
				<dict/>
				<key>css/text_shadow/light75.css</key>
				<dict/>
				<key>css/title/20.css</key>
				<dict/>
				<key>css/title/24.css</key>
				<dict/>
				<key>css/title/28.css</key>
				<dict/>
				<key>css/title/32.css</key>
				<dict/>
				<key>css/title/36.css</key>
				<dict/>
				<key>css/toggle/ec.js</key>
				<dict/>
				<key>css/toggle/noise.css</key>
				<dict/>
				<key>css/toggle/sidebreak.css</key>
				<dict/>
				<key>css/toggle/slogan_box.css</key>
				<dict/>
				<key>css/toggle/trans.css</key>
				<dict/>
				<key>css/width/720.css</key>
				<dict/>
				<key>css/width/820.css</key>
				<dict/>
				<key>css/width/920.css</key>
				<dict/>
				<key>html5.js</key>
				<dict/>
				<key>images/border.png</key>
				<dict/>
				<key>images/editable_images/header1.jpg</key>
				<dict/>
				<key>images/editable_images/header10.jpg</key>
				<dict/>
				<key>images/editable_images/header11.jpg</key>
				<dict/>
				<key>images/editable_images/header12.jpg</key>
				<dict/>
				<key>images/editable_images/header13.jpg</key>
				<dict/>
				<key>images/editable_images/header14.jpg</key>
				<dict/>
				<key>images/editable_images/header15.jpg</key>
				<dict/>
				<key>images/editable_images/header16.jpg</key>
				<dict/>
				<key>images/editable_images/header17.jpg</key>
				<dict/>
				<key>images/editable_images/header18.jpg</key>
				<dict/>
				<key>images/editable_images/header19.jpg</key>
				<dict/>
				<key>images/editable_images/header2.jpg</key>
				<dict/>
				<key>images/editable_images/header20.jpg</key>
				<dict/>
				<key>images/editable_images/header20.psd</key>
				<dict/>
				<key>images/editable_images/header3.jpg</key>
				<dict/>
				<key>images/editable_images/header4.jpg</key>
				<dict/>
				<key>images/editable_images/header5.jpg</key>
				<dict/>
				<key>images/editable_images/header6.jpg</key>
				<dict/>
				<key>images/editable_images/header7.jpg</key>
				<dict/>
				<key>images/editable_images/header8.jpg</key>
				<dict/>
				<key>images/editable_images/header9.jpg</key>
				<dict/>
				<key>images/feature_tint.png</key>
				<dict/>
				<key>images/feature_tint_cap.png</key>
				<dict/>
				<key>images/inset100.png</key>
				<dict/>
				<key>images/inset20.png</key>
				<dict/>
				<key>images/inset40.png</key>
				<dict/>
				<key>images/inset60.png</key>
				<dict/>
				<key>images/inset80.png</key>
				<dict/>
				<key>images/light10.png</key>
				<dict/>
				<key>images/light20.png</key>
				<dict/>
				<key>images/light30.png</key>
				<dict/>
				<key>images/light40.png</key>
				<dict/>
				<key>images/light50.png</key>
				<dict/>
				<key>images/light60.png</key>
				<dict/>
				<key>images/light70.png</key>
				<dict/>
				<key>images/light80.png</key>
				<dict/>
				<key>images/noise.png</key>
				<dict/>
				<key>images/px_dark10.png</key>
				<dict/>
				<key>images/px_dark15.png</key>
				<dict/>
				<key>images/px_dark20.png</key>
				<dict/>
				<key>images/px_dark25.png</key>
				<dict/>
				<key>images/px_dark30.png</key>
				<dict/>
				<key>images/px_dark35.png</key>
				<dict/>
				<key>images/px_dark45.png</key>
				<dict/>
				<key>images/px_dark55.png</key>
				<dict/>
				<key>images/px_light10.png</key>
				<dict/>
				<key>images/px_light15.png</key>
				<dict/>
				<key>images/px_light20.png</key>
				<dict/>
				<key>images/px_light25.png</key>
				<dict/>
				<key>images/px_light30.png</key>
				<dict/>
				<key>images/px_light35.png</key>
				<dict/>
				<key>images/px_light45.png</key>
				<dict/>
				<key>images/px_light55.png</key>
				<dict/>
				<key>images/rss_icon.gif</key>
				<dict/>
				<key>images/slogan.png</key>
				<dict/>
				<key>images/slogan_cap.png</key>
				<dict/>
				<key>javascript.js</key>
				<dict/>
				<key>print.css</key>
				<dict/>
				<key>styles.css</key>
				<dict/>
			</dict>
			<key>PageID</key>
			<string>rw:theme:x_pos00e9_1.1_dreg</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
