.file_input{width:310px;display: inline-block;}
.upload_container{float:left;width:320px;height:80px;margin-left:45px}
.preview_area{border: 1px solid rgb(204, 204, 204); -moz-border-radius: 5px 5px 5px 5px; float: left; height: 58px; width: 68px; text-align: center;margin-right: 25px;margin-top:08px;line-height:10px;}
.upload_container label{display:block;width:80px;text-align:right;}
.preview_area span{font-size: 10px;font-variant: small-caps;line-height: 07px;}
.max_w_h{width:68px; max-height:64px;}
.small_cbox{width:07px;height:07px;margin: 0px 2px;}
#menu_bottom li {float:left;}
#menu_bottom {margin-left:25%;}
.home_box {float:left;}

#input[type="text"] {filter:none !important;}

/*----------------------------------------------------------*\
|                                                            |
|      ________)                         ______)             |
|     (, /                              (, /         /)      |
|       /___, __   _ ___   _____  _/_     /    _  _ (/       |
|    ) /     / (__(/_// (_(_) / (_(__  ) /   _(/_(__/ )_     |
|   (_/  ©2010 Bradley Klco             (_)                  |
|                                                            |
\*----------------------------------------------------------*/